
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



body {

    background: rgb(255,176,196);
    background: radial-gradient(circle, rgba(255,176,196,1) 0%, rgba(246,236,241,1) 100%);
    margin: 0px;
}

.banner {

    background-color: white;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

.logo {
height: 40px;
width: auto;

}

.navigations {
    display: flex;
    gap: 50px;
    margin-left: auto;
    margin-right: 50px;
}

.navigations a {
text-decoration: none;
color:black;
font-size: 20px;
font-family: "pacifico", serif;

}

.navigations a:hover {
    color: #fb6f93;
}